/0001.png
/1356296.png
/1377211.jpg
/641968.jpg
/811712.jpg
/Brasil (Formato Real) se optar por ele, não pode selecionar (Brasil Regional).rar
/FM24 (Pack completo).pdf
/GIMP-3.2.4-x86_64.AppImage
/Heroic-2.21.0-linux-x86_64.AppImage
/IMG-20260428-WA0028.jpeg
/Instalação, dicas e novidades.txt
/Instalação.txt
/LEIA COM ATENÇAO (EVITE ERROS).txt
/Ligas Adicionais (extrair na pasta editor data).rar
/Lista_de_revisa771o_EDBI_Unidade_1_pre769-prova_-_Google_Docs.pdf
/MODs e SAFs (extrair na pasta editor data).rar
/Mars4_5.jar
/Para a Skin funcionar corretamente.txt
/Tutorial (IMPORTANTE).txt
/Tutorial e Capacidade dos Estadios (FMRTE).txt
/Tutorial.txt
/WhatsApp Image 2026-04-30 at 15.54.54.jpeg
/agencia
/agencia.cpp
/brasilmundiup
/c++-20260428T175144Z-3-001.zip
/code_1.117.0-1776814346_amd64.deb
/config.xml
/diagrama de blocos.PDF
/diagrama de blocos_260502_195400.PDF
/discord-0.0.135.deb
/discord-1.0.137 (1).deb
/discord-1.0.137.deb
/faetec-200.png
/faetec-400.png
/favicon_io
/favicon_io.zip
/gemini-code-1777562438294.sh
/output
/paisagem-1200.jpg
/paisagem-650.jpg
/u1-astronautas (1).pdf
/u1-astronautas (2).pdf
/u1-astronautas.pdf
/wallhaven-3krj89_1920x1200.png
/wallhaven-lmzeeq_1920x1200.png